@import '../../utils/_colors.scss';

.unauth-layout {
  width: 100vw;
  .view {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 220px 320px 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .unauth-layout{
    .view{
      height: 100vh;
      display: grid;
      grid-template-rows: 70px 150px 390px 1fr;
      grid-template-columns:1fr;

    }
    .upperbar{
      grid-row: 1;
    }
    .app-header{
      grid-row:4;
      h2{
        display: none;
      }
    }
    .blue{
      grid-row:2;
      height: 150px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      input{
        display: none;
      }
      .white{
        margin-right: 20px;
        margin-left: 10px;
        grid-template-rows: 10px 30px 90px;
        height: 120px;
        h2{
          font-size: 0.65em;
        }
        h5{
          font-size: 0.5em;
        }
        .all_bread{
          display: inline;
        }
        .quantity{
          width: 100%;
          height: 20px;
          display: grid;
          margin-bottom: 10px;
          grid-template-columns: 39px 1fr;
          .icon-sort {
            margin-top: 3px;
          }
          .icon-sort:before {
            font-size: 7px;
          }
          .number {
            font-size: 0.5em;
            grid-column: 2;
            margin-top: 5px;
            font-weight: bold;
          }
          p{
            font-size: 0.7em;
          }
        }
      .infobar{
        left: 35px;
        top:230px;
        height: 350px;        
      }
      }
    }
    .infobar{
      grid-row: 3;
    }
  }
}