.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 2px solid;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
  text-decoration: none; }

.btn-primary {
  background-color: #498ea2;
  border-color: #396f7f;
  color: #fff; }

.btn-secondary {
  background-color: #dd483f;
  border-color: #c62c23;
  color: #fff; }

.btn-inverse {
  background-color: #fff;
  border-color: #e6e6e6;
  color: #396f7f; }
