.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 2px solid;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-family: 'hk_novaregular'
}

.melding{
  font-family: 'hk_novabold'

}

// +++++++++++++++++++++++++++++++++++++++++++++++++++
// STYLING OF THE BUTTON ACCORDING TO DIFFERENT THEME
// +++++++++++++++++++++++++++++++++++++++++++++++++++



