@import '../../utils/_colors.scss';

.blue {
  background-color: $blue;
  height: 100vh;
  input {
    border: 0;
    width: 30px;
    height: 15px;
    border-radius: 8px;
    margin: 10px 0 0 9px;
    padding: 10px 0 40px;
    font-size: 1em;
    transition: width 1s;
  }
  input:hover {
    width: 100px;
  }
  .fa {
    position: absolute;
    top: 15px;
    left: 270px;
    color: $blue;
    font-size: 1.8em;
  }
}
