@import '../../utils/_colors.scss';

.app-header {
  padding: 2rem;
  font-size: 1.2em;
  list-style-type: none;
  background-color: $grey;
  h2 {
    color: grey;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 600;
    font-family: 'hk_novamedium';
  }
  a {
    text-decoration: none;
    color: grey;
    display: flex;
    margin-bottom: 10px;
  }
  .icon-bread:before {
    content: '\e901';
    font-size: 27px;
  }
  .icon-place:before {
    content: '\e901';
    font-size: 25px;
  }
  .icon-favorite:before {
    content: '\e9d7';
    font-size: 18px;
  }
  .icon-deal:before {
    content: '\e900';
    font-size: 27px;
  }
}
