.app-header {
  padding: 2rem;
  font-size: 1.2em;
  color: red;
  list-style-type: none;
  h2 {
    color: green;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 0;
  }
  a {
    text-decoration: none;
    color: purple;
    display: flex;
    margin-bottom: 10px;
  }
  .icon-bread:before {
    content: '\e901';
    font-size: 27px;
  }
  .icon-place:before {
    content: '\e901';
    font-size: 25px;
  }
  .icon-favorite:before {
    content: '\e9d7';
    font-size: 18px;
  }
  .icon-deal:before {
    content: '\e900';
    font-size: 27px;
  }
}
