.app-header {
  padding: 2rem;
  font-size: 1.2em;
  color: red;
  list-style-type: none;
  h2 {
    color: green;
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: purple;
    display: flex;
    margin-bottom: 10px;
  }
  a:before {
    content: '\e9d7';
  }
}
