@import './../../utils/_colors.scss';

h6 {
  font-size: 4em;
}

svg {
  width: 150px;
  grid-column: 2;
  justify-self: center;
  margin-top: 20px;
  margin-left: 140px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
}

.success {
  text-align: center;
  font-size: 3em;
  grid-row: 3;
  grid-column: 2;
  margin-left: 140px;
  margin-top: 70px;
  &.success {
    color: $blue;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.sendpopup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  .sendpopup_inner {
    position: absolute;
    width: 705px;
    height: 265px;
    left: 25%;
    right: 20%;
    top: 7%;
    margin: auto;
    background: white;
    display: grid;
    grid-template-rows: 70px 40px 50px 30px 30px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-radius: 10px;
    z-index: 3;
  }
}
