@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?fjawmh');
  src: url('fonts/icomoon.eot?fjawmh#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?fjawmh') format('truetype'), url('fonts/icomoon.woff?fjawmh') format('woff'),
    url('fonts/icomoon.svg?fjawmh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before,
[class^='icon-']:after,
[class*=' icon-']:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_656079_cc:before {
  content: '\e900';
}
.icon-noun_842842_cc:before {
  content: '\e901';
}
.icon-noun_1100755_cc:before {
  content: '\e902';
}
.icon-noun_1112146_cc:before {
  content: '\e903';
}
.icon-star-empty:before {
  content: '\e9d7';
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 1.4rem;
}
